<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="collect.xyd.net.cn.xinyidaicollect"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarInfoListActivity"
            android:theme="@style/MyTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HouseInfoListActivity"
            android:theme="@style/MyTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AudioRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mp3lame.MyAudioRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
       <!-- release-->
        <!--<meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b275d0e761f341f5bf8b589ae722e96a" />-->
         <!--debug-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="350c3c78b0af3d08b795a688354721b6" />
    </application>

</manifest>
